<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_BROADCAST" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BROADCAST" />
    <uses-permission android:name="com.duyth10.dellhieukieugiservice.MY_SERVICE_PERMISSION" /> <!-- khi khởi tạo service cần yêu cầu cái này (ít nhất từ android 12 trở lên) -->
    <queries>
        <package android:name="com.duyth10.dellhieukieugi" />
    </queries>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="com.duyth10.dellhieukieugiservice.BIND_SERVICE_PERMISSION" />

    <uses-permission android:name="android.permission.BIND_SERVICE" />


    <application


        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_yasuo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name="dellhieukieugiservice.duyth10.dellhieukieugi.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>